body {
    background: #54241a;
    color: #ddd;
}

.bg-content {
    
    position: relative;
    z-index: 1;
    padding: 10px;
    padding-top: 30px;
    margin: 3px 0;
    background: rgba(0, 0, 0, .3);
    box-shadow: 0 0 8px rgba(.7, .7, .7, .7);
}

.navtop  {
    
    background: #fff;
}

.navtop .name {
    
    text-align: center;
}

.navtop .name h1 {
    
    font-weight: bold;
    margin-top: 40px;
    color: #47231b;
}
.navtop .name  h4 {
    
    color: #47231b;
}

.navtop .icon {
    height: 50px;
    right: 0;

}
.navtop .icon .icon-style{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 45px;
    
    
    
}
.navtop .icon .icon-style i{
    color: #47231b;
    
}


.navbar {
    
    background: #38150f;
        
}



.navbar-light .navbar-nav .nav-link {
    color: #fff;
    border-bottom: 3px solid #72514a;
    background-size: 100% auto;
    
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e0bb00;
    border-bottom: 3px solid #fff;
    color: #FFD938;
    background-size: 100% auto;
    border-bottom: 4px solid #FFF !important;
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
			}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    
    color: #e0bb00;
    border-bottom: 3px solid #fff;
    color: #FFD938;
    background-size: 100% auto;
    border-bottom: 4px solid #FFF !important;
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
			
}

.navbar .navbar-nav .nav-item {
    
    margin-left: 40px;
    font-weight: bold;
        
}



.slide .row2 {
    
    margin-top: 20px;
}

/* Start Home ------------ */

.contact .fa {
    
    margin: 10px 0px
}
.txt-home {
    margin: 50px;
}
.txt-home .txt p{
    
    
    padding: 0 70px;
    margin: 10px 0 50px 0;
    padding: 0px 13px;
    font-size: 18px;
    text-align: left;
    text-indent: -10px;
    text-align: justify;
    letter-spacing: 2px;
}
.txt-home .txt h2{  
    
    color: #d62300;
    font-weight: bold;
}

.txt-home .txt h3{  
    
    color: #006b29;
    font-weight: 600;
}



.culinary {
    
    margin-top: 50px;
}

.culinary img{
    
    margin-top: 30px;
}

.culinary h4{
    margin-top: 30px;
    line-height: 3;
}


.cosmetic {
    
    margin-top: 50px;  
}

.cosmetic .txt-cos h4{
    
    line-height: 2;
    
}
    

.cosmetic img{
    
    margin-top: 30px;
    height: 250px;
    
}

.cosmetic h5:last-child{
    font-weight: bold;    
}



/* Start Culinary Argan Oil --------------------------*/

.culinary h2 {
text-shadow: 0 0 5px transparent, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFD938, 0 0 30px #FFD938, 0 0 40px #FFD938, 0 0 50px #FFD938, 0 0 75px #FFD938;
    
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin: 50px 0 30px 0px;
}

/* Start Argan Cosmetic --------------------------*/

.cosmetic h2 {
text-shadow: 0 0 5px transparent, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFD938, 0 0 30px #FFD938, 0 0 40px #FFD938, 0 0 50px #FFD938, 0 0 75px #FFD938;
    
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin: 50px 0 30px 0px;

}
.cosmetic .prod {
    
    border: 1px solid #492119;
    background: #28120d;
    margin: 20px auto;
    max-width: 350px;
    min-width: 250px;
        
        
}



/* Start Services --------------------------*/


.service h1 {
    
    text-shadow: 0 0 5px transparent, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFD938, 0 0 30px #FFD938, 0 0 40px #FFD938, 0 0 50px #FFD938, 0 0 75px #FFD938;
    
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-top: 50px;
}

.service .srv {
    
    background: #fff;
    color: #222;
    border-radius: 5px 
}

.service .srv h4{
    
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
}
.service .srv p{
    
    margin-top: 20px
}



/*  Start Tips --------------------------*/

.tips h1 {
    margin: 20px 0 70px 0px;
    font-size: 30px   
}

.tips p {
    margin: 10px 0 50px 0;
    padding: 0px 13px;
    font-size: 18px;
    text-align: left;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 2px;
}


/* Start contact --------------------------*/


.contact {
    
    margin-top: 40px;
    text-align: center;
}

.contact h2{
    
    margin: 0 0 60px 0;
    
}

.contact .btn-success{
    
    padding: 5px 60px;
    cursor: pointer;
    
}
.contact .btn-danger{
    
    padding: 5px 30px;
    cursor: pointer;
    
}

.contact .conta{
    
    border-left: 2px solid #593030
    
}



/* Start Cleints Space */

.login-box .login-sec .nav-item a{
    
    color: #FFD938;
    font-weight: bold;
    padding-right: 70px;
}

.nav-tabs {
    border-bottom: 3px solid #FFD938;
}

.nav-tabs .nav-link.active {
    background-color: #30130d;
    border-color: #FFD938 #FFD938 #FFD938;

}

.nav-tabs .nav-link:hover {
    border-color: #FFD938 #FFD938 #FFD938;
    background: #30130d;
}
.login-box .login-sec .form-group h6 {
    margin-top: 80px;
}
.login-box .login-sec .form-group h6:last-child {
    color: red;
    margin-top: 0px;
}

.login-box .login-sec .form-group h6 a{
    color: red;
    margin-top: 100px;
}


/* Start Footer */

footer {
    padding-top: 20px;
    background: #38150f;
    
}

footer ul li a{
    
    color: #FFD938;
}

footer .fa{
    font-size: 25px;
    color: #FFD938;
}

footer .copyright {
    background: #30130d;
    padding: 10px 0px
    
}




/* Loading ****************/

html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
html, body {
    /* For the loading indicator to be vertically centered ensure */
    /* the html and body elements take up the full viewport */
    min-height: 100%;
}
html.loading {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #333 url('../img/spinner.gif') no-repeat 50% 50%;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
html.loading body {
    /* Make the contents of the body opaque during loading */
    opacity: 0;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0;
    transition: opacity 0;
}

