body {
    background: #54241a;
    color: #ddd;
}

.bg-content {
    
    position: relative;
    z-index: 1;
    padding: 10px;
    padding-top: 30px;
    margin: 3px 0;
    background: rgba(0, 0, 0, .3);
    box-shadow: 0 0 8px rgba(.7, .7, .7, .7);
}

.navtop  {
    
    background: #fff;
}

.navtop .name {
    
    text-align: center;
}

.navtop .name h1 {
    
    font-weight: bold;
    margin-top: 40px;
    color: #47231b;
}
.navtop .name  h4 {
    
    color: #47231b;
}

.navtop .icon {
    height: 50px;
    right: 0;

}
.navtop .icon .icon-style{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 45px;
    
    
    
}
.navtop .icon .icon-style i{
    color: #47231b;
    
}


.navbar {
    
    background: #38150f;
        
}



.navbar-light .navbar-nav .nav-link {
    color: #fff;
    border-bottom: 3px solid #72514a;
    background-size: 100% auto;
    
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e0bb00;
    border-bottom: 3px solid #fff;
    color: #FFD938;
    background-size: 100% auto;
    border-bottom: 4px solid #FFF !important;
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
			}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    
    color: #e0bb00;
    border-bottom: 3px solid #fff;
    color: #FFD938;
    background-size: 100% auto;
    border-bottom: 4px solid #FFF !important;
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, .2) 5%, transparent 95%) !important;
			
}

.navbar .navbar-nav .nav-item {
    
    margin-left: 40px;
    font-weight: bold;
        
}



.slide .row2 {
    
    margin-top: 20px;
}


.contact {
    
    margin-top: 40px;
    text-align: center;
}

.ab {
    margin-top: 50px;
}
.ab-txt {
    
    
    padding: 0 70px
}


.culinary {
    
    margin-top: 50px;
}

.culinary img{
    
    margin-top: 30px;
}

.culinary h4{
    margin-top: 30px;
    line-height: 3;
}


.cosmetic {
    
    margin-top: 50px;  
}

.cosmetic .txt-cos h4{
    
    line-height: 2;
    
}
    

.cosmetic img{
    
    margin-top: 30px;
    height: 250px;
    
}

.cosmetic h5:last-child{
    font-weight: bold;    
}

/* Start Services */

.service  {
    
    
}


.service h1 {
    
    text-shadow: 0 0 5px transparent, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FFD938, 0 0 30px #FFD938, 0 0 40px #FFD938, 0 0 50px #FFD938, 0 0 75px #FFD938;
    
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-top: 50px;
}

.service .srv {
    
    background: #fff;
    color: #222;
    border-radius: 5px 
}





/* Start Cleints Space */

.login-box .login-sec .nav-item a{
    
    color: #FFD938;
    font-weight: bold;
    padding-right: 70px;
}

.nav-tabs {
    border-bottom: 3px solid #FFD938;
}

.nav-tabs .nav-link.active {
    background-color: #30130d;
    border-color: #FFD938 #FFD938 #FFD938;

}

.nav-tabs .nav-link:hover {
    border-color: #FFD938 #FFD938 #FFD938;
    background: #30130d;
}
.login-box .login-sec .form-group h6 {
    margin-top: 80px;
}
.login-box .login-sec .form-group h6:last-child {
    color: red;
    margin-top: 0px;
}

.login-box .login-sec .form-group h6 a{
    color: red;
    margin-top: 100px;
}









/* Start Footer */

footer {
    padding-top: 20px;
    background: #38150f;
    
}

footer ul li a{
    
    color: #FFD938;
}

footer .fa{
    font-size: 25px;
    color: #FFD938;
}

footer .copyright {
    background: #30130d;
    padding: 10px 0px
    
}